body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
/* h1 başlığı */
h1{
    text-align: center;
    letter-spacing: 4px;
}
/* h2 başlığı */
h2{
    margin-left: 20px;
    text-decoration: underline;
    padding-bottom: 0em;
}
/* sağ kutuiçindeki parağraf */
p{
    margin-left: 20px;
    text-indent: 55px;
    font-size: 18px;
    font-style: italic;
    padding-top: 0em;
}
/* çizgi için stil belirlerm başlıkta kullanıldı*/
hr{
    border: 1px solid rgb(227, 139, 41);
}
/* index,hakkımızda,iletişim kısımlarının stili */
.yon{
    color: rgb(187, 116, 30);
    background-color: white;
    border: 1px solid rgb(227, 139, 41);
    margin-top: 10px;
    margin-left: 10px;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
/* kutu içerisindeki link */

/* anasayfa,hakkımızda,iletişim kısımlarının toplu hareketi */
.ust{
    height: 15px;
    background-color: white;
    text-align: right;
    color: azure;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
/* ana başlık "kırtasiye" */
.alt{
    background-color: white;
    color: black;
}
/* ortadaki alan */
section{
    background-color: white;
    height: 500px;
}
/* soldaki kutu */
.leftbox{
    height: 350px;
    width: 400px;
    background-color: white;
    outline: solid rgb(227, 139, 41);
    margin-left: 25px;
    margin-top: 25px;
    padding-left: 80px;
    padding-top: 50px;
    float: left;
}
/* sağdaki kutu üstteki kısım*/
.rightbox{
    height: 400px;
    width: 800px;
    background-color: white;
    outline: solid rgb(227, 139, 41);
    margin-top: 25px;
    margin-right: 25px;
    border-left: 5px;
    border-top: 25px;
    float: right;
    text-align: justify;
}

/* alt kısım */
footer{
    height: 100px;
    background-color: white;
    color: chocolate;
}
